<% include partials/header %>

<div>
    <h2>Search Movie here</h2>
    
    <div>
        <form method="GET" action="/movie">
            <input type="text" name="searchTerm"></input>
            <input type="submit" value="Search Movie"></input>
        </form>
    </div>
</div>

<% if (movies) { %>
       <% movies.forEach(function(movie) { %>
           <div class="movie-info col-md-12">
               <div class="col-md-4">
                   <% if (movie.poster === "N/A") { %>
                       <p>Poster Not found</p>
                   <% } else { %>
                       <img class="img-thumbnail" src="<%= movie.poster %>" alt="Poster Not Found">
                   <% } %>
               </div>
               <div class="col-md-4">
                   <%= movie.title %>
               </div>
               <div class="col-md-4">
                   <%= movie.year %>
               </div>
           </div>
       <% }); %>
<% } %>


<% include partials/footer %>